.dropdown {
  display: flex;
  flex-direction: column;
  width: 13rem;
  height: 0rem;
  overflow-x: hidden;
  transition: all 0.7s;
  font-family: "Barlow Condensed", sans-serif;;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 4px;
}

.dropdown>p{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}
::-webkit-scrollbar {
  display: none;
}

.point {
  color: #242424;
  position: absolute;
  top: -7px;
  right: 10px;
  height: 0px;
  overflow: hidden;
}

.view {
  height: 7rem;
}

.viewd {
  height: 1rem;
}
