@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bebas+Neue&family=Yanone+Kaffeesatz:wght@200&display=swap");

:root {
  --title-aqua-color: #64eebc;
  --text-white-color: #ffffff;
  --font-family-thick: "Bebas Neue", cursive;
  --font-family-thin: "Barlow Condensed", sans-serif;
}

.main_container {
  font-family: var(--font-family-thick);
  color: var(--text-white-color);
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.56) -20px 44px 100px 20px inset;
}
.image_div {
  position: fixed;
  z-index: -100;
  height: 100vh;
}
.image {
  height: 100%;
  object-fit: cover;
  animation: back-load 10s;
  position: relative;
  left: -10%;
}

.second_container {
  position: absolute;
  left: 10%;
  bottom: 20%;
  overflow-y: hidden;
}

.subtitle {
  font-family: var(--font-family-thin);
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 4px;
  position: relative;
  left: 0;
  overflow-y: hidden;
  animation: subtitle 1.5s;
}

.movie_title {
  color: var(--title-aqua-color);
  font-size: 120px;
  letter-spacing: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.p_title_first,
.p_title_second {
  margin: 0;
  position: relative;
  overflow-y: hidden;
}

.p_title_first {
  animation: charge_title_first 2s ease-in;
}

.p_title_second {
  animation: charge_title_second 2s ease-in;
}

.button_list {
  display: flex;
}
.button_listone {
  overflow: hidden;
  width: 15rem;
}
.button_container {
  display: flex;
  gap: 60px;
  padding-left: 10px;
  align-items: center;
  margin-top: 20px;
}

.button_app_play,
.button_app_list {
  width: 248px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--text-white-color);
  font-family: "Bebas Neue";
}

.button_app_list {
  position: relative;
}

.button_app_play {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 4px;
  background-color: #242424;
  border: none;
  overflow-x: hidden;
  animation: animation_button_play 2s;
}

.button_app_list {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 4px;
  background-color: rgba(255, 255, 255, 0.075);
  /* border: 1px solid var(--text-white-color); */
  border: none;
  overflow: hidden;
}
.button_app_list span {
  position: absolute;
  top: 0;
  background: #ffffff;
}

.button_app_list span:nth-child(1) {
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  animation: animation_border_1 2s;
}

.button_app_list span:nth-child(2) {
  width: 100%;
  height: 2px;
  top: 96%;
  right: 0;
  animation: animation_border_2 2s;
}

.button_app_list span:nth-child(3) {
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  animation: animation_border_3 2s;
}

.button_app_list span:nth-child(4) {
  width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  animation: animation_border_4 2s;
}

.info_button_list {
  position: relative;
  left: 0px;
  animation: animation_info_list 2s ease-in;
}

@keyframes animation_button_play {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animation_info_list {
  from {
    left: -200px;
  }
  top {
    left: 0;
  }
}

@keyframes animation_border_1 {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes animation_border_2 {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes animation_border_3 {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes animation_border_4 {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}

@keyframes back-load {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes subtitle {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}

@keyframes charge_title {
  from {
    top: -150px;
  }
  to {
    top: 0;
  }
}
@keyframes charge_title_first {
  from {
    top: -140px;
  }
  to {
    top: 0;
  }
}
@keyframes charge_title_second {
  from {
    top: 140px;
  }
  to {
    top: 0;
  }
}

@media (max-width: 800px) {
  .image {
    height: 100vh;
    position: absolute;
    left: -250px;
    top: 150px;
    animation: none;
  }

  .image_div {
    position: absolute;
    margin-top: -200px;
    height: 100vh;
    width: 100vw;
      /* box-shadow: rgba(0, 0, 0, 0.56) -20px 44px 100px 20px inset; */
  }
  .background {
    background: rgba(255, 255, 255, 0)
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 14%,
        rgba(37, 36, 36, 0.007) 44%,
        rgb(37, 36, 36) 71%,
        rgba(37, 36, 36) 75%,
        rgb(37, 36, 36) 100%
      )
      repeat scroll 0 0;

    height: 100%;
    position: relative;
    top: 200px;
  }
  .main_container {
    background-color: #242424;
    position: relative;
    z-index: -100;
    box-shadow: none;
  }

  .main_container > .movies_div_container {
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .second_container {
    position: static;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button_container {
    flex-direction: column;
  }

  .button_app_list {
    background-color: transparent;
  }
  .movie_title{
    text-align: center;
  }
}

@media (max-width: 600px) {
  .movie_title {
    font-size: 60px;
    padding-left: 10%;
  }
  .image {
    left: -60%;
  }
}

@media (max-width: 550px){
  .image {
    left: -70%;
  }
}

@media (max-width: 450px){
  .image {
    left: -80%;
  }
}

@media (max-width: 400px) {
  .movie_title {
    font-size: 55px;
  }
  .image{
    left: -90%;
  }
}
