/* var in home styles */
.main_container {
  padding: 35px;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  gap: 20px;
}

.second_container,
.other {
  display: flex;
  align-items: center;
  gap: 90px;
  color: var(--text-white-color);
  transition: all 0.6s;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: charging 4s ease-in-out;
}


.other {
  gap: 30px;
  width: 15rem;
  justify-content: flex-end;
}


.app_name,
.app_name2 {
  font-style: normal;
  font-size: 34px;
  line-height: 34px;
  letter-spacing: 4px;
  color: var(--title-aqua-color);
}
.app_name2 {
  font-family: 'Barlow Condensed', sans-serif;
}

.add_movie {
  width: 26rem;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  letter-spacing: 5px;
  color: var(--text-white-color);
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s;
  overflow-x: hidden;
  white-space: nowrap;
}

.icon_add_movie{
  display: flex;
width: fit-content;
}

.add_movie:hover{
  transform: scale(1.04);
}


.user_image {
  width: 33px;
  border-radius: 50%;
  cursor: pointer;
}

.container_dot_1 {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}

.container_dot_2{
  position: relative;
  right: 35%;
  background-color: var(--title-aqua-color);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.dot_notification {
  width: 10px;
  height: 10px;
  background-color: var(--title-aqua-color);
  border-radius: 50%;
}

.heroicons {
  width: 33px;
  cursor: pointer;
}
@keyframes charging {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }

}


@media (max-width: 800px){
  .second_container{
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 80%;
    gap: 20%;
    animation: charge_nav_media 2s;
  }
  .add_movie{
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
  }
  .add_movie >p{
    display: none;
  }

  .menu, .bell{
    display: none;
  }

  .user_image{
    width: 40px;
  }

  .other{
    width: 20%;
    justify-content: center;
    animation: charge_nav_media 2s;
  }
  @keyframes charge_nav_media {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
}

